# Managed by Ansible — Mattermost EE. LDAPS/AD = feature Enterprise (trial 30j).
MM_SQLSETTINGS_DRIVERNAME=postgres
MM_SQLSETTINGS_DATASOURCE=postgres://{{ pg_user }}:{{ pg_password }}@db:5432/mattermost?sslmode=disable
MM_SERVICESETTINGS_SITEURL=https://mattermost.poc.bencopharma.lab

# Connexion LDAPS
MM_LDAPSETTINGS_ENABLE=true
MM_LDAPSETTINGS_LDAPSERVER=dc01.ad.poc.bencopharma.lab
MM_LDAPSETTINGS_LDAPPORT=636
MM_LDAPSETTINGS_CONNECTIONSECURITY=TLS
MM_LDAPSETTINGS_BASEDN=OU=_Benco Users,DC=ad,DC=poc,DC=bencopharma,DC=lab
MM_LDAPSETTINGS_BINDUSERNAME={{ ldap_bind_dn }}
MM_LDAPSETTINGS_BINDPASSWORD={{ ldap_bind_pw }}
MM_LDAPSETTINGS_USERFILTER=(memberOf=CN=GG-Linux-Users,OU=_Benco Groups,DC=ad,DC=poc,DC=bencopharma,DC=lab)
MM_LDAPSETTINGS_LOGINIDATTRIBUTE=sAMAccountName
MM_LDAPSETTINGS_USERNAMEATTRIBUTE=sAMAccountName
MM_LDAPSETTINGS_EMAILATTRIBUTE=mail
MM_LDAPSETTINGS_FIRSTNAMEATTRIBUTE=givenName
MM_LDAPSETTINGS_LASTNAMEATTRIBUTE=sn
MM_LDAPSETTINGS_IDATTRIBUTE=objectGUID
