# Injecté dans l'ISO minimale par mkksiso (script make-iso)

text
lang en_US.UTF-8
keyboard --xlayouts='fr'
timezone Europe/Paris --utc

network --bootproto=static --ip=10.10.30.99 --netmask=255.255.255.0 --gateway=10.10.30.1 --nameserver=10.10.30.1 --onboot=on --activate

# ISO d'install minimale de Rocky, o, a pas les bon depots pour les paquets qui viennent après donc on ajoute là
repo --name=AppStream --baseurl=https://dl.rockylinux.org/pub/rocky/10/AppStream/x86_64/os/

# On le désactive par défaut parce que l'utilisateur sera créé par cloud-init
rootpw --lock

selinux --enforcing
firewall --enabled --service=ssh

bootloader --location=mbr --append="console=tty0 console=ttyS0,115200"
zerombr
ignoredisk --only-use=sda
clearpart --all --initlabel --drives=sda

part biosboot --size=1 --fstype=biosboot
part /boot --size=1024 --fstype=xfs --fsoptions="nodev,nosuid"
part pv.01 --size=1 --grow
volgroup vg_sys pv.01
logvol /        --vgname=vg_sys --name=root   --size=8192 --fstype=xfs
logvol /var     --vgname=vg_sys --name=var    --size=4096 --fstype=xfs --fsoptions="nodev"
logvol /var/log --vgname=vg_sys --name=varlog --size=2048 --fstype=xfs --fsoptions="nodev,nosuid,noexec"
logvol /var/tmp --vgname=vg_sys --name=vartmp --size=1024 --fstype=xfs --fsoptions="nodev,nosuid,noexec"
logvol /tmp     --vgname=vg_sys --name=tmp    --size=1024 --fstype=xfs --fsoptions="nodev,nosuid,noexec"
logvol /home    --vgname=vg_sys --name=home   --size=2048 --fstype=xfs --fsoptions="nodev,nosuid"
logvol swap     --vgname=vg_sys --name=swap   --size=1024

%packages --excludedocs
@core
cloud-init
qemu-guest-agent
chrony
vim-minimal
-iwl*-firmware
-a*-firmware
-plymouth*
%end

%post --log=/root/ks-post.log
# Services attendus par Terraform/Ansible
systemctl enable qemu-guest-agent cloud-init cloud-init-local cloud-config cloud-final chronyd

# TRIM périodique (préférable au discard synchrone en option de montage)
systemctl enable fstrim.timer

# hardening /dev/shm (mémoire patragée qu'on ne peut pas gérer au partitionnement)
echo "tmpfs /dev/shm tmpfs defaults,nodev,nosuid,noexec 0 0" >> /etc/fstab

# Supprimer la partie ID unique pour que chaque clone génère les siens
truncate -s 0 /etc/machine-id
rm -f /etc/ssh/ssh_host_*   # host keys régénérées au premier boot par sshd-keygen

# cloud-init : datasource NoCloud (lecteur cloud-init de Proxmox)
cat > /etc/cloud/cloud.cfg.d/99-pve.cfg <<'EOF'
datasource_list: [NoCloud, ConfigDrive]
EOF
%end

poweroff

